<form class="example-form" [formGroup]="form">
  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Nombre de Usuario</mat-label>
    <input matInput formControlName="nombreUsuario">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="registrar()">REGISTRAR</button>
</form>
