<div class="login-container">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Inicio de Sesión</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onLogin()">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nombre de Usuario</mat-label>
            <input matInput formControlName="nombreUsuario" required>
            <mat-error *ngIf="form.controls['nombreUsuario'].hasError('required')">
              El nombre de usuario es requerido
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="form.controls['password'].hasError('required')">
                La contraseña es requerida
              </mat-error>
            </mat-form-field>
    
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Iniciar Sesión</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  