<form class="example-form" [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" readonly>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Nombre de Usuario</mat-label>
      <input matInput formControlName="nombreUsuario" readonly>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" readonly>
    </mat-form-field>
  
    <div class="example-full-width">
      <h4>Roles</h4>
      <ul>
        <li *ngFor="let rol of form.value.roles">{{ rol }}</li>
      </ul>
    </div>
  </form>
  